body {
  overflow: hidden;
}

#hover_properties {
  height: 50vh;
  width: 30vw;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 50vh;
  left: 70vw;
  right: 0;
  background-color: black;
  color: whitesmoke;
  padding: 1em;
  font-family: monospace;
  font-size: larger;
}

#map {
  position: absolute;
  x: 0px;
  y: 0px;
  width: 70vw;
  height: 50vh;
  margin: 0;
  top: 0;
  bottom: 50vh;
  left: 0;
  right: 0;
}

#editor {
  position: absolute;
  width: 100vw;
  height: 50vh;
  margin: 0;
  top: 50vh;
  bottom: 0;
  left: 0;
  right: 0;
}