body {
  overflow: hidden;
}

#map {
  height: 100vh;
  width: 50vw;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 50vw;
  right: 0;
}

#editor {
  position: absolute;
  x: 0px;
  y: 0px;
  width: 50vw;
  height: 100vh;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}